<h1>Beste koopjesliefhebber</h1>

<p>Je bent ingeschreven voor onze huiskamerverkoop op <b>{{ subscription.visit.visitDay|localizeddate('full', 'none', 'nl_BE', null, 'eeee d MMM' )}}
        om {{ subscription.visit.time|date('H') }} u.</b></p>

<p>We verwachten jou in de <b>Diestsestraat 138, bus 202, 3000 Leuven</b>.<br>
    Meld je aan bij de bel met 'huiskamerverkoop'.</p>

<p>Let op, iedere aanwezige dient geregistreerd te zijn. Dus je vriend of vriendin is zeker welkom maar zorg ervoor dat
    ook hij/zij zich registreert via de inschrijvingstool.</p>

<p>Ben je belet? Jammer! Wil je wel een mailtje sturen om je af te melden? Jouw plaatsje komt dan vrij voor een andere
    gegadigde.</p>

<p>Alvast bedankt voor de belangstelling en tot binnenkort!</p>

<p>Het huiskamerteam</p>
